<div class="control-section">
  <div>
    <ejs-accumulationchart id="donut-container" [title]="title" align="center" [legendSettings]="legendSettings"
      [tooltip]="tooltip" selectionMode="Point" [annotations]="annotations" (load)="load($event)"
      [enableBorderOnMouseMove]="false">
      <e-accumulation-series-collection>
        <e-accumulation-series name="Revenue" [dataSource]="data" xName="x" [startAngle]="startAngle" yName="y"
          [radius]="radius" [innerRadius]="innerRadius" [dataLabel]="dataLabel" [palettes]='palette'>
        </e-accumulation-series>
      </e-accumulation-series-collection>
    </ejs-accumulationchart>
  </div>
</div>
<style>
  .control-section {
    min-height: 450px;
  }
</style>